/* расположение блоков */
/* направление строк <-Г-> */
.line {
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    background :#00bfff;
    padding: 20px;
    border-radius: 3px;
    margin: 20px;
  }
  .card img{
    width: 50px;
  }