<link rel="stylesheet" href="kata7.css">

<div class="line">
  <div class="card"><img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
    <div class="card"><img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
      <div class="card"><img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
      <div class="card"> <img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
    <div class="card"><img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
  <div class="card"> <img src="https://i.postimg.cc/d1gR5MvV/250px-Chuck-Norris-May-2015.jpg">Yeah</div>
</div>  

    
 