#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .chunk {
    background : lightblue;
    padding: 16px;
    border-radius: 5px;
    margin: 16px;
  }

  .chunk img{
    width: 50px;
  }

  .card1{
    grid-column: 1;
    grid-row: 1;
  }

  .card2{
    grid-column: 2 / 4;
    grid-row: 1;
  }
  .card3{
    grid-column: 1;
    grid-row: 2;
  }
  .card4{
    grid-column: 4;
    grid-row: 4;
  }
  .card5{
    grid-column: 2;
    grid-row: 3;
  }
  .card6{
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .card7{
    grid-column: 3;
    grid-row: 2 / 4;
  }
