<link rel="stylesheet" href="kata4.css">

<div id = "grid">
 <div class = "chunk card1"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk1">Yeah</div>
 <div class = "chunk card2"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk2">Yeah</div>
 <div class = "chunk card3"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk3">Yeah</div>
 <div class = "chunk card4"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk4">Yeah</div>
 <div class = "chunk card5"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk5">Yeah</div>
 <div class = "chunk card6"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk6">Yeah</div>
 <div class = "chunk card7"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="chunk7">Yeah</div>



</div>