<link rel="stylesheet" href="kata2.css">

<p>HTLM5 + CSS3</p>
<div class="container">
  <div class="carre">
  </div>
  <div class="carre">
  </div>
  <div class="carre">
  </div>
  <div class="carre">
  </div>
  <div class="carre">
  </div>
  <div class="carre">
  </div>
  <div class="carre">
  </div>
</div>  