<link rel="stylesheet" href="kata8.css"></link>

<div class="container">
  <button id=btn1 value="3" onclick="fordisplay(3)">&#127929;<br>3$ </button>     
    <button id=btn2 value="10" onclick="fordisplay(10)">&#127930;<br>10$</button>    
  <button id=btn3 value="5" onclick="fordisplay(5)">&#127928;<br>5$</button>    

  <div>
    <h2> Panier </h2>
    <ul id="panier">
  </ul>
</div>



<script src="kata8.js"></script>