.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

div {
    margin-left: 43rem;
}

big {
    font-size: 10rem;
}

big span {
    font-size: 14rem;
}