<link rel="stylesheet" href="kata5.css">

<div>
    <input type="text"></input>
    <button class="button">Pop !</button>
</div>
 <input class="print" type="text"></input>


<script src="kata5.js"></script>