.container{
    display: flex;
    justify-content: center;
  }
  .radiobox{
    border: 2px solid black;
  }
  .radiobox label {
    display: block;
    padding: 16px;
    text-align: center;
  }
  .ST{
    display: none;
  }
  input.ST:checked + div{
    background: black;
    color: pink;
  }