<link rel="stylesheet" href="kata10.css">

 <div class="container">
   <p> HTML + CSS (<s>javascript</s> </p>
 </div>

 <div class="container">
  <input id="R1" name="radio"  type="radio" class="ST">
   <div class = "radiobox">
  <label for="R1">coucou</label>
 </div>

 <input id="R2" name="radio" type="radio" class="ST">
  <div class = "radiobox">
  <label for="R2">les</label>
</div>

 <input id="R3" name="radio" type="radio" class="ST">
  <div class = "radiobox">
   <label for="R3">gens</label>
 </div>
</div>