<link rel="stylesheet" href="kata9.css"></link>

<p> HTML + CSS </p>
  <nav>
    <div class="check">
      <input type="checkbox">
        <ul class="menu">
         <li><a href="">Coucou</a></li>
         <li><a href="">Pas</a></li>
         <li><a href="">de</a></li>
         <li><a href="">JS</a></li>
       </ul>
    </div>
  </nav>