
  .check {
    display: block;
    z-index: 1;
    user-select: none;
  }
  .check input {
    display: block;
    width: 40px;
    height: 32px;
    z-index: 2;
  }
  .menu {
    position: absolute;
    padding: 20px;
    background: lightgrey;
    transform: translate(-120%, 0);
    transition: transform 0.5s;
  }
  .check input:checked+ul {
    transform: none;
  }

  a:hover {
    color: red;
  }