.container {
    border: 2px solid black;
    display: flex;
    justify-content: space-around
  }
  
  .carre{
    width: 80px;
    height: 80px;
    border: 2px solid pink;
    animation: rotation 3s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(-360deg)
    }
  }
  