/* ↔ ↨ */

.bk {
    width: 300px;
    height: 320px;
    border: 1px groove black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
  }
  
  /* №3 -уровень прозрачности элемента */
  
  .ft{
    position: absolute;
    top: 8px;
    opacity: 0;
  }
   
  /* срабатывание элемента при наведени →
  пробел перед hover */
  
  .bk:hover .ft {
    opacity:1;
    
  }
  .container {
     display: flex;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
  }
  