<link rel="stylesheet" href="kata6.css">

<div class="container">
    <div class="bk">
     <p>Who will save us?<p>
      <div class="ft">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Chuck_Norris_May_2015.jpg/220px-Chuck_Norris_May_2015.jpg">
      </div>
    </div>
    </div>